
.vs/bb1/FileContentIndex/68768c94-2fb2-42fd-b6a8-ab8131d7c80c.vsidx
.vs/bb1/FileContentIndex/1b605444-6dba-48e3-98e1-b0f384dd97fd.vsidx
.vs/bb1/FileContentIndex/18847968-f234-4310-946b-1f5fd35fcd76.vsidx
bb1/obj/Debug/net8.0-windows/bb1.AssemblyInfo.vb
bb1/obj/Debug/net8.0-windows/bb1.AssemblyInfoInputs.cache
bb1/obj/Debug/net8.0-windows/bb1.assets.cache
bb1/obj/Debug/net8.0-windows/bb1.GeneratedMSBuildEditorConfig.editorconfig
.vs/bb1/FileContentIndex/18847968-f234-4310-946b-1f5fd35fcd76.vsidx
